@import url('https://fonts.googleapis.com/css?family=Limelight|Roboto');
body {
    color: #555;
    font-family: 'Roboto', sans-serif;
}

a.navbar-brand {
    font-family: 'Limelight', cursive;
}

.btn {
    margin: 0 5px;
    cursor: pointer;
    border-radius: 0;
}

.icon-button {
    width: 45px;
    height: 38px;
    text-align: center;
}

input.form-control {
    border-radius: 0;
}

input.form-control:focus {
    border-color: #444;
}

input.form-control::placeholder {
    color: #999;
}

.markedAsDone {
    text-decoration: line-through;
    color: #41AD5D;
}

.table-actions {
    width: 135px;
}